# Copy this file to .env and fill in your values
# NEVER commit .env to source control

# Azure AD / Entra App Registration

  AZURE_TENANT_ID     = 9d058e63-1c9d-4d50-9dd8-7d4cbfd662b3
  AZURE_CLIENT_ID     = 9d961172-7ba8-4f93-91c1-595365b83f2c
  AZURE_CLIENT_SECRET = 3Vo8Q~LMCQ4lAgA_iSuc_lbjcSyqYd6mNvHJcaBE

# Microsoft Graph endpoint
GRAPH_API_ENDPOINT=https://graph.microsoft.com/beta

# UTCM Service Principal App ID (do not change)
UTCM_APP_ID=03b07b79-c5bc-4b5e-9bfa-13acf4a99998


